In [1]:
#import necessary packages
import pandas as pd
import numpy as np
import warnings

pd.set_option("display.max_columns", None)
warnings.filterwarnings("ignore")

In [2]:
#load dataset
df = pd.read_csv('1745-6215-12-101-S1.CSV')
df

,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,RHEP24,RASP3,RSBP,RDEF1,RDEF2,RDEF3,RDEF4,RDEF5,RDEF6,RDEF7,RDEF8,STYPE,RDATE,HOURLOCAL,MINLOCAL,DAYLOCAL,RXASP,RXHEP,DASP14,DASPLT,DLH14,DMH14,DHH14,ONDRUG,DSCH,DIVH,DAP,DOAC,DGORM,DSTER,DCAA,DHAEMD,DCAREND,DTHROMB,DMAJNCH,DMAJNCHD,DMAJNCHX,DSIDE,DSIDED,DSIDEX,DDIAGISC,DDIAGHA,DDIAGUN,DNOSTRK,DNOSTRKX,DRSISC,DRSISCD,DRSH,DRSHD,DRSUNK,DRSUNKD,DPE,DPED,DALIVE,DALIVED,DPLACE,DDEAD,DDEADD,DDEADC,DDEADX,FDEAD,FLASTD,FDEADD,FDEADC,FDEADX,FRECOVER,FDENNIS,FPLACE,FAP,FOAC,FU1_RECD,FU2_DONE,COUNTRY,CNTRYNUM,FU1_COMP,NCCODE,CMPLASP,CMPLHEP,DIED,TD,EXPDD,EXPD6,EXPD14,SET14D,ID14,OCCODE,DEAD1,DEAD2,DEAD3,DEAD4,DEAD5,DEAD6,DEAD7,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,17,D,M,69,Y,NaN,Y,Y,NaN,NaN,140,N,N,N,Y,N,Y,N,Y,PACS,1991-01,99,99,4,Y,N,Y,Y,N,NaN,N,14.0,NaN,NaN,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,NaN,NaN,N,NaN,N,NaN,NaN,N,NaN,0.0,NaN,N,NaN,NaN,NaN,NaN,N,Y,E,NaN,NaN,14,187,UK,27,NaN,13,Y,Y,0,187.0,0.6980,0.2344,0.1054,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,10,F,M,76,Y,NaN,Y,N,NaN,NaN,150,Y,Y,Y,N,N,N,N,N,LACS,1991-01,99,99,7,N,L,N,Y,Y,NaN,N,14.0,NaN,NaN,N,N,N,N,Y,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,NaN,NaN,N,NaN,N,NaN,NaN,N,NaN,0.0,NaN,N,NaN,NaN,NaN,NaN,N,Y,A,NaN,NaN,16,192,UK,27,NaN,NaN,Y,Y,0,192.0,0.5389,0.1555,0.0421,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,43,F,F,71,N,NaN,Y,N,NaN,NaN,170,Y,Y,Y,N,N,N,N,N,LACS,1991-01,99,99,3,Y,N,Y,Y,N,NaN,N,11.0,NaN,NaN,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,NaN,NaN,N,NaN,Y,32.0,NaN,N,NaN,0.0,NaN,N,NaN,NaN,NaN,NaN,N,Y,A,NaN,NaN,11,189,UK,27,NaN,NaN,Y,Y,0,189.0,0.5275,0.1009,0.0323,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,6,F,M,81,N,NaN,N,N,NaN,NaN,170,N,N,N,Y,N,N,N,N,PACS,1991-01,99,99,7,N,H,N,Y,N,NaN,Y,14.0,NaN,NaN,N,N,N,N,Y,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,NaN,NaN,N,NaN,Y,41.0,NaN,N,NaN,0.0,NaN,N,NaN,NaN,NaN,NaN,Y,N,A,NaN,NaN,23,183,UK,27,NaN,NaN,Y,Y,0,183.0,0.4021,0.1147,0.0244,1,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,4,20,F,M,78,N,NaN,N,N,NaN,NaN,170,Y,Y,Y,N,N,N,N,N,LACS,1991-02,99,99,6,Y,H,Y,Y,N,NaN,Y,14.0,NaN,NaN,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,NaN,NaN,N,NaN,N,NaN,NaN,N,NaN,0.0,NaN,N,NaN,NaN,NaN,NaN,N,Y,E,NaN,NaN,17,214,UK,27,NaN,NaN,Y,Y,0,214.0,0.5600,0.1709,0.0441,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19430,255,42,F,M,66,N,N,Y,Y,N,Y,120,Y,Y,Y,Y,Y,C,N,N,TACS,1994-02,19,16,2,N,L,N,N,N,N,NaN,14.0,N,N,N,N,N,N,N,N,N,N,N,NaN,NaN,Y,11.0,HAEMATEMESIS / HAEMATUREA,Y,N,N,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,NaN,N,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Y,A,N,N,37,175,UK,27,31.0,14,Y,N,0,175.0,0.7272,0.1943,0.0816,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
19431,255,47,F,M,75,N,N,Y,Y,N,N,210,Y,Y,Y,N,N,N,N,C,PACS,1993-12,15,1,7,N,M,N,Y,N,Y,NaN,14.0,N,N,N,N,N,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,NaN,N,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Y,A,Y,N,102,180,UK,27,19.0,NaN,Y,Y,0,180.0,0.6362,0.1836,0.0540,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19432,341,21,F,M,77,N,N,Y,N,N,N,220,Y,Y,Y,N,N,N,N,N,LACS,1994-07,9,47,4,N,N,N,N,N,N,NaN,5.0,N,N,N,N,N,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,Y,13.0,N,NaN,N,NaN,N,NaN,Y,17.0,E,N,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Y,D,N,Y,99,174,NETH,15,108.0,NaN,Y,Y,0,174.0,0.5688,0.1503,0.0402,1,0,2,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
19433,255,40,D,F,87,N,N,Y,Y,N,Y,160,N,Y,Y,Y,C,C,N,N,TACS,1993-12,17,13,4,N,N,N,N,N,N,NaN,4.0,N,N,N,N,N,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,NaN,Y,25.0,7.0,UNKNOWN,Y,NaN,25.0,7.0,UNKNOWN,NaN,NaN,NaN,NaN,NaN,91,91,UK,27,110.0,NaN,Y,Y,1,4.0,0.9566,0.5811,0.2371,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
19434,255,15,F,M,54,N,N,Y,Y,N,N,184,Y,Y,Y,N,N,N,Y,N,POCS,1994-01,18,36,1,Y,M,Y,Y,N,Y,NaN,14.0,N,N,N,N,N,N,N,N,N,N,N,NaN,NaN,N,NaN,NaN,Y,N,N,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,Y,44.0,A,N,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,N,N,A,Y,Y,25,176,UK,27,44.0,NaN,Y,Y,0,176.0,0.3773,0.0567,0.0313,1,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
#extract necessary columns
df_new = pd.DataFrame(df, columns = ['RXASP', 'RXHEP', 'FDEAD', 'FDENNIS', 'FRECOVER'])
df_new

      RXASP RXHEP FDEAD FDENNIS FRECOVER
0         Y     N     N       Y        N
1         N     L     N       Y        N
2         Y     N     N       Y        N
3         N     H     N       N        Y
4         Y     H     N       Y        N
...     ...   ...   ...     ...      ...
19430     N     L     N       Y        N
19431     N     M     N       Y        N
19432     N     N     N       Y        N
19433     N     N     Y     NaN      NaN
19434     Y     M     N       N        N

[19435 rows x 5 columns]

In [4]:
#add treatment column
#1 - no aspirin, no heparin
#2 - no aspirin, low heparin
#3 - yes aspirin, no heparin
#4 - yes aspirin, low heparin
#5 - yes aspirin, yes heparin

df_new['RXHEP_1'] = df_new['RXHEP']
df_new[(df_new['RXHEP_1'] == 'H') | (df_new['RXHEP_1'] == 'M')] = 'Y'
df_new[df_new['RXASP'] == 'M'] = 'Y'

In [5]:
treatment_dict = {'N,N': 1, 'N,L': 2, 'Y,N': 3, 'Y,L': 4, 'Y,Y': 5}
df_new['TREATMENT'] = df_new['RXASP'] + ',' + df_new['RXHEP_1']
df_new['TREATMENT'].value_counts()
df_new['TREATMENT'] = df_new['TREATMENT'].map(treatment_dict)
df_new

      RXASP RXHEP FDEAD FDENNIS FRECOVER RXHEP_1  TREATMENT
0         Y     N     N       Y        N       N          3
1         N     L     N       Y        N       L          2
2         Y     N     N       Y        N       N          3
3         Y     Y     Y       Y        Y       Y          5
4         Y     Y     Y       Y        Y       Y          5
...     ...   ...   ...     ...      ...     ...        ...
19430     N     L     N       Y        N       L          2
19431     Y     Y     Y       Y        Y       Y          5
19432     N     N     N       Y        N       N          1
19433     N     N     Y     NaN      NaN       N          1
19434     Y     Y     Y       Y        Y       Y          5

[19435 rows x 7 columns]

In [6]:
#add reward column
df_new_removed = df_new[(df_new['FDEAD'] != 'U') & (df_new['FDEAD'].notnull())]
df_new_removed = df_new_removed[(df_new_removed['FDENNIS'] != 'U') & (df_new_removed['FDENNIS'].notnull())]
df_new_removed = df_new_removed[(df_new_removed['FRECOVER'] != 'U') & (df_new_removed['FRECOVER'].notnull())]
df_new_removed = df_new_removed.reset_index(drop = True)
df_new_removed

      RXASP RXHEP FDEAD FDENNIS FRECOVER RXHEP_1  TREATMENT
0         Y     N     N       Y        N       N          3
1         N     L     N       Y        N       L          2
2         Y     N     N       Y        N       N          3
3         Y     Y     Y       Y        Y       Y          5
4         Y     Y     Y       Y        Y       Y          5
...     ...   ...   ...     ...      ...     ...        ...
15963     Y     L     N       Y        N       L          4
15964     N     L     N       Y        N       L          2
15965     Y     Y     Y       Y        Y       Y          5
15966     N     N     N       Y        N       N          1
15967     Y     Y     Y       Y        Y       Y          5

[15968 rows x 7 columns]

In [7]:
#create reward column
conditions = [
    (df_new_removed['FDEAD'] == 'Y') & (df_new_removed['FDENNIS'] == 'Y') & (df_new_removed['FRECOVER'] == 'Y'),
    (df_new_removed['FDEAD'] == 'Y') & (df_new_removed['FDENNIS'] == 'N') & (df_new_removed['FRECOVER'] == 'N'),
    (df_new_removed['FDEAD'] == 'N') & (df_new_removed['FDENNIS'] == 'Y') & (df_new_removed['FRECOVER'] == 'N'),
    (df_new_removed['FDEAD'] == 'N') & (df_new_removed['FDENNIS'] == 'N') & (df_new_removed['FRECOVER'] == 'Y'),
    (df_new_removed['FDEAD'] == 'N') & (df_new_removed['FDENNIS'] == 'Y') & (df_new_removed['FRECOVER'] == 'Y'),
    (df_new_removed['FDEAD'] == 'N') & (df_new_removed['FDENNIS'] == 'N') & (df_new_removed['FRECOVER'] == 'N'),
]

values = ['Dead while dependent', 'Dead after recovery', 'Alive and still dependent', 'Alive and recovered', 'Alive and still dependent', 'Alive and recovered']

In [8]:
df_new_removed['REWARD'] = np.select(conditions, values)

In [14]:
df_subsample = df_new_removed.sample(3000).reset_index(drop = True)

In [15]:
df_subsample['REWARD'].value_counts()

Alive and still dependent    1085
Alive and recovered           981
Dead while dependent          934
Name: REWARD, dtype: int64

In [16]:
df_subsample.to_csv('cleaned_dataset.csv', index = False)

In [17]:
df_new_removed.to_csv('cleaned_dataset_all.csv', index = False)